<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                Let's make your wedding day even more special with the enchanting touch of our 360 photobooth
            </p>
            <a href="/booking" class="cs-button-solid">Book Your Photobooth</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/Services/Hero_s.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Services/Hero_s.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Services/Hero.jpeg" alt="Photobooth Hero" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>