---
title: 'Booking'
description: "Turn your wedding into an enchanting experience with Snap N Sweet's 360 photobooth services. Let us capture the love, joy, and cherished moments of your special day. Elevate your wedding celebration with our personalized setups and cutting-edge technology. Make memories last forever with Snap N Sweet."
preloadImg: '/assets/images/Services/wedding-gda4f05a1e_1280.jpg'
permalink: '/Booking'
eleventyNavigation:
  key: Booking
  order: 200
---

{% extends "layouts/base4.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/booking.css">
{% endblock %}

{% block body %}
<div class="Calender">
<!-- Calendly inline widget begin -->
<div  class="calendly-inline-widget" data-url="https://calendly.com/info-mxo/booth-booking?primary_color=ef2b8b" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</div>


{% endblock %}