---
title: 'Book Your 360 Photobooth Experience '
description: "Ready to bring the magic of Snap N Sweet to your event. Book our 360 photobooth services and transform your occasion into an unforgettable experience. Secure your date, choose personalized setups, and immerse your guests in a world of memories and joy. Start your journey to an extraordinary event with Snap N Sweet's easy booking process."
preloadImg: '/assets/images/Hero.jpeg'
permalink: '/Booking'
eleventyNavigation:
  key: Booking
  order: 200
---

{% extends "layouts/base4.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/booking.css">
{% endblock %}

{% block body %}
<div class="Calender">
<!-- Calendly inline widget begin -->
<div  class="calendly-inline-widget" data-url="https://calendly.com/info-mxo/booth-booking?primary_color=ef2b8b" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
</div>


{% endblock %}