---
title: 'Wedding'
description: 'Meta description for the page'
preloadImg: '/assets/images/Depositphotos_221000152_XL.jpg'
permalink: 'Weddings/'
eleventyNavigation:
    parent: Services
    key: Weddings
    order: 800
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/wedding.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">Weddings</span>
        <div class="cs-breadcrumbs">
            <a href="index.html" class="cs-link">Home</a>
            <a href="wedding.html" class="cs-link cs-active">Weddings</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/Services/wedding-gda4f05a1e_1280_s_m.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Services/wedding-gda4f05a1e_1280_s.jpg">
        <img decoding="async" src="/assets/images/Services/wedding-gda4f05a1e_1280.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1095">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Services/wedding_s_m.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Services/wedding_s_2.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/Services/wedding.jpeg" alt="mechanic" width="542" height="608">
            </picture>
            <!--Eclipses-->
         
            <!--Stripe background-->
            <img class="cs-stripes" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/stripes-long.svg" alt="stripes" width="522" height="608" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper">Wedding Photobooth Services</span>
            <h2 class="cs-title">Ultimate 360 Photobooth Experience for Your Toronto Wedding</h2>
            <p class="cs-text">
              Congratulations on your upcoming wedding! At Snap 'N Sweet, we understand the importance of making your big day extraordinary and unforgettable. Our 360 photobooth services are designed to add an extra touch of magic to your wedding celebration, capturing the essence of love, joy, and cherished moments with your loved ones.
            </p>
            <ul class="cs-list">
                <li class="cs-li">Immersive Experience</li>
                <li class="cs-li">Personalized Touches</li>
                <li class="cs-li">Digital Sharing Made Easy</li>
                <li class="cs-li">Stress-Free Booking</li>
                <li class="cs-li">Professional Attendants</li>
            </ul>
        </div>
    </div>
</section>


                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-580">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/Home/Picture20.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/Home/Picture20.png">
            <img loading="lazy" decoding="async" src="/assets/images/Home/Picture20.png" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Why Us</span>
            <h2 class="cs-title">Choose Our 360 Photobooth for Your Wedding</h2>
            <p class="cs-text">
               Imagine the laughter and smiles as your guests interact with our cutting-edge 360 photobooth. From intimate shots with family to hilarious poses with friends, our photobooth creates heartwarming memories that will be cherished for years to come. The captivating visual storytelling complements your wedding photographer's work, providing a unique keepsake for all.
            </p>
            <p class="cs-text">
               We offer flexible package options to accommodate weddings of all sizes and styles. Whether you're hosting an intimate gathering or a grand celebration, we have a package that fits your needs and budget. From a two-hour package to a full-day rental, our services are customizable to match your wedding schedule perfectly.
            </p>
            <a href="contact_us" class="cs-button-solid">Get Free Quote</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Get It Done With Us Today</h2>
            <p class="cs-text">
                Let's make your wedding day even more special with the enchanting touch of our 360 photobooth
            </p>
            <a href="booking.html" class="cs-button-solid">Book Your Photobooth</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/Services/Hero_s.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/Services/Hero_s.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/Services/Hero.jpeg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>




{% endblock %}